@{
    Layout = "_WorkPageLayout";
    ViewData["Title"] = "ActivityContent";
}
@section topCss{
    <link rel="stylesheet" href="~/style/ActivityContentStyle.css" />
}

<header class="activity_nav w-100">
    <a class="previous_page_a activity_nav_a" href="javascript:history.go(-1)">
        <i class="fa-solid fa-arrow-left-long previous_page"></i>
    </a>
</header>
<div class="activity_main_content">
    <div class="row w-700 activity_pic">
        <img src="https://tw-a.kakaopagecdn.com/P/O/crm/campaign-pages/2022_07_21/2x/de036082-6cfa-46b9-ad1c-156ae0854890.webp" alt="">
        <div class="row w-700 activity_title">
            <p class="countdownTime">剩餘7小時15分</p>
            <p class="activity_title_info">7/23-7/25</p>
            <p class="activity_title_info">人民的法槌舉起來!<br>不跟盜版仔玩</p>
            <!-- <p>ⓒ作者/繪者/發行</p> -->
        </div>
    </div>
    <div class="row w-700 activity_text">
        <div class="row w-700">
            <p class="activity_text_title">活動詳情</p>
            <p class="activity_text_content">思想它們人家沒想到，彩色選手關西一位轉移老婆看不到開發灌水哥哥咖啡你想授權，固定一看加油策劃想像尋求斑竹一看投入喜歡資源，實在反而意識引進空調不用比例老闆小說出版，面臨國內名單外掛發揮，完善有效別人，予以大幅因此而言隨便幾個我又工作人員使得你能性能精美拒。</p>
        </div>
    </div>
    <div class="row w-700 activity_text">
        <div class="row w-700">
            <button class="w-100 my-5 py-3 px-5 getUniversalCouponBtn">領取通用券 <span>></span></button>
        </div>
    </div>
</div>
<footer class="w-100 activity_details">
    <div class="row w-700 pt-5">
        <p class="activity_detail_title">活動期間</p>
        <p class="activity_detail_content">
            2022/07/23~2022/07/25
        </p>
        <p class="activity_detail_title">獎項發送說明</p>
        <p class="activity_detail_content activity_detail_content_border">
            領取完成將於一天內發送通用券，詳情請於「金幣/閱讀券明細」中確認。
        </p>
        <p class="activity_detail_title">注意事項</p>
        <ul class="activity_detail_content activity_detail_contentList">
            <li>本活動僅限註冊用戶參加</li>
            <li>本活動之獎品不得轉換、轉讓或折讓現金</li>
            <li>BS WEBTOON 保有活動細節修改之權利</li>
        </ul>
    </div>
</footer>

