@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid" id="app">

    <!-- Content Row -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">BsWebtoon 儀錶板</h1>
    </div>
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-success text-white shadow">
                <div class="card-body">
                    漫畫總數
                    <div class=" d-flex justify-content-end align-items-end">
                        <div class="text-white h1 mb-0">{{StatisticsInfo.comicCount}}</div>
                        @*{{StatisticsInfo.productTotal}}*@
                        <div class="text-white">/筆</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-warning text-white shadow">
                <div class="card-body">
                    本月活動數
                    <div class=" d-flex justify-content-end align-items-end">
                        <div class="text-white h1 mb-0">{{StatisticsInfo.activityCount}}</div>
                        @*{{StatisticsInfo.productTotal}}*@
                        <div class="text-white">/筆</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-info text-white shadow">
                <div class="card-body">
                    本月會員數
                    <div class=" d-flex justify-content-end align-items-end">
                        <div class="text-white h1 mb-0">39</div>
                        @*{{StatisticsInfo.productTotal}}*@
                        <div class="text-white">/筆</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

    </div>
</div>
<!-- Page level plugins -->
<script src="~/vendor/chart.js/Chart.min.js"></script>



@section endJS{
<script>
    let bs = new Vue({
        el: '#app',
        data() {
            return {
                StatisticsInfo: [],
                //TopComicTable: [],
                fields: [
                             { key: 'index', label: '排名', class: 'text-center' },
                             { key: 'comicChineseName', label: '漫畫名稱' },
                             { key: 'clickRecordCount', label: '點擊數', class: 'text-center' }
                        ],
                urlList: {
                    getactivitySumUrl: '/api/DashboardApi/GetActivityChart',
                    getmemberSumUrl: '/api/DashboardApi/GetMemberChart',
                    rankingUrl: '/api/DashboardApi/GetRankChart',
                    getcomicSumUrl: '/api/DashboardApi/GetComicChart',
                }
            }
         },
         mounted(){
             this.getactivitySumData()
             //this.getmemberSumData(),
             //this.getrankingData(),
             //this.getcomicSumData()
         },
         methods: {
             getactivitySumData() {
                    axios.get(this.urlList.getactivitySumUrl)
                        .then(res => {
                            const source=res.data;
                            console.log("123");
                        });
             },
             getmemberSumData() {
                    axios.get(this.urlList.getmemberSumUrl)
                        .then(res => {
                            const source=res.data;
                            console.log(source);
                        });
             },
              getrankingData() {
                    axios.get(this.urlList.rankingUrl)
                        .then(res => {
                            const source=res.data;
                            console.log(source);
                        });
             },
              getcomicSumData() {
                    axios.get(this.urlList.getcomicSumUrl)
                        .then(res => {
                            const source=res.data;
                            console.log(source);
                        });
             },
         }
    });
</script>
}

