@{
    ViewData["Title"] = "Home Page";
}


@section topCss{
    <link rel="stylesheet" href="~/css/dashboard.css"/>
}


<div class="container-fluid" id="app">
    <!-- Content Row -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">BsWebtoon 儀錶板</h1>
    </div>
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-success text-white shadow">
                <div class="card-body">
                    漫畫總數
                    <div class="d-flex justify-content-between align-content-between ">
                        <i class="fa-solid fa-book-open fa-3x text-gray-300"></i>
                        <div class=" d-flex justify-content-end align-items-end">
                            <div class="text-white h1 mb-0" >{{comicList}}</div>
                            <div class="text-white">/筆</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-warning text-white shadow">
                <div class="card-body">
                    本月活動數
                    <div class="d-flex justify-content-between align-content-between ">
                        <i class="fas fa-fw fa-table fa-3x text-gray-300"></i>
                    <div class=" d-flex justify-content-end align-items-end">
                        <div class="text-white h1 mb-0">{{activityList}}</div>
                        <div class="text-white">/筆</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-info text-white shadow">
                <div class="card-body">
                    本月會員數
                    <div class="d-flex justify-content-between align-content-between ">
                    <i class="fa-solid fa-address-card fa-3x text-gray-300"></i>
                    <div class=" d-flex justify-content-end align-items-end">
                        <div class="text-white h1 mb-0">{{memberList}}</div>
                        <div class="text-white">/筆</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">
        <h1 class="h3 mb-0 title" >前 10 最受喜愛漫畫排行榜</h1>
        <div class="table_line">
            <b-table id="my-table"  striped hover :items="TopComicTable" :fields="fields"  stacked="md"  show-empty small >
            </b-table>
        </div>
    </div>
</div>
<!-- Page level plugins -->
<script src="~/vendor/chart.js/Chart.min.js"></script>

@section endJS{

<script src="~/js/dashboard.js"></script>
}




