@{
    ViewData["Title"] = "Home Page";
}

@section topCss{
    <style>
        .title{
            color:#fa0;
        }
    </style>
}

<div class="container-fluid" id="app">

    <!-- Content Row -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">BsWebtoon 儀錶板</h1>
    </div>
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-success text-white shadow">
                <div class="card-body">
                    漫畫總數
                    <div class="d-flex justify-content-between align-content-between ">
                        <i class="fa-solid fa-book-open fa-3x text-gray-300"></i>
                        <div class=" d-flex justify-content-end align-items-end">
                            <div class="text-white h1 mb-0" >{{comicList}}</div>
                            <div class="text-white">/筆</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-warning text-white shadow">
                <div class="card-body">
                    本月活動數
                    <div class="d-flex justify-content-between align-content-between ">
                        <i class="fas fa-fw fa-table fa-3x text-gray-300"></i>
                    <div class=" d-flex justify-content-end align-items-end">
                        <div class="text-white h1 mb-0">{{activityList}}</div>
                        <div class="text-white">/筆</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-info text-white shadow">
                <div class="card-body">
                    本月會員數
                    <div class="d-flex justify-content-between align-content-between ">
                    <i class="fa-solid fa-address-card fa-3x text-gray-300"></i>
                    <div class=" d-flex justify-content-end align-items-end">
                        <div class="text-white h1 mb-0">{{memberList}}</div>
                        <div class="text-white">/筆</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">
        <h1 class="h3 mb-0 title" >前 10 最受喜愛漫畫排行榜</h1>
        <div class="table_line">
            <b-table id="my-table"  striped hover :items="TopComicTable" :fields="fields"  stacked="md"  show-empty small >
            </b-table>
        </div>
    </div>
</div>
<!-- Page level plugins -->
<script src="~/vendor/chart.js/Chart.min.js"></script>



@section endJS{
<script>
    let bs = new Vue({
        el: '#app',
        data() {
            return {
                StatisticsInfo: [],
                TopComicTable: [],
                fields: [
                             { key: 'topNum', label: '排名', class: 'text-center' ,sortable: true,Variant: 'info' },
                             { key: 'comicChineseName', label: '漫畫名稱' },
                             { key: 'clickRecordCount', label: '點擊數', class: 'text-center' }
                        ],
                 activityList:[],
                 memberList:[],
                 comicList:[]
            }
         },
         mounted(){
             this.getactivitySumData(), 
             this.getmemberSumData(),
             this.getcomicSumData(),
             this.getrankingData()

         },
         methods: {
             getactivitySumData() {
                    axios.get('/api/DashboardApi/GetActivityChart')
                        .then(res => {
                            this.activityList=res.data[0].activityCount;
                            console.log(res.data[0].activityCount);
                        });
             },
             getmemberSumData() {
                    axios.get('/api/DashboardApi/GetMemberChart')
                        .then(res => {
                            this.memberList=res.data[0].memberCount;
                            console.log(res.data[0].memberCount);
                        });
             },
             getrankingData() {
                    axios.get('/api/DashboardApi/GetRankChart')
                        .then(res => {

                            this.TopComicTable=res.data;
                            console.log(this.TopComicTable);
                        });
             },
             getcomicSumData() {
                     axios.get('/api/DashboardApi/GetComicChart')
                        .then(res => {
                            this.comicList=res.data[0].comicCount;
                            console.log(res.data[0].comicCount);
                        });
             },
         }
    });
</script>
}

