
@{
    ViewBag.Title = "SearchByName";
}

<h2 class="bg-white">Search</h2>
<form action="/search/searchComic" method="post" class="bg-white">
    <label for="name" >你想收尋什麼作品</label>
    <input type="text" id="name" name="comicname" /> @*for配id  name是提交資料用的 所以跟Accountcontroller傳入參數有關 ActionResult SearchByName(string username)*@
    <br />
    <input type="submit" value="收尋" class="btn btn-primary" />
</form>


