@using BSWebtoon.Front.Models.DTO.Rcommend
@model IEnumerable<RecommendDTO>

@{
    ViewData["Title"] = "Recommend";
}
@section topCss{
<link rel="stylesheet" href="~/style/Recommend.css" />
}

<ul class="nav justify-content-center nav-top">
    <li class="nav-item">
        @*<a class="nav-link nav_recommend" href="#">推薦</a>*@
        @Html.ActionLink("推薦", "Recommend", "Recommend", new {},new {@class="nav-link nav_recommend nav-selected text-black"})
    </li>
    <li class="nav-item">
        @*<a class="nav-link nav_hot" href="#">強檔巨獻</a>*@
        @Html.ActionLink("強檔鉅獻", "HitWork", "Recommend", new {},new {@class="nav-link nav_hot"})
    </li>
</ul>

<div class="container-fluid main-context">
</div>
@*<div class="row flex-grow-1 xl_user m-auto">
</div>
*@
<div class="container w-1200">
    <template id="body-recommend">
        <a class="work_a" href="#">
            <div class="row row-recommend w-1200">
                <div class="txt-part">
                    <span id="tag">123</span>
                    <img src="https://picsum.photos/300/100/?random=10" class="title-pic">
                    <p>上了次數支持，用途宅宅，亞洲效果大多我。</p>
                </div>
                <div class="transform-part transform-part-public">
                </div>
                <div class="transform-part2 transform-part-public">
                </div>
                <div class="pic-part">
                    <img src="https://tw-a.kakaopagecdn.com/P/C/209/bg/2x/2f809479-ecf8-4795-a401-ed8825370af3.webp" class="recommend-pic-bg" alt="">
                    <video src="https://tw-a.kakaopagecdn.com/P/C/209/c1a/55729505-a52c-470a-a8e0-09c7dab6047c.webm" class="recommend-pic" autoplay loop></video>
                    <img src="" alt="" class="recommend-pic" style="display:none;">
                </div>
            </div>
        </a>
    </template>
</div>

<!-- <div class="container-fluid main-body"> -->
<!-- </div> -->
@section endJS{
@*<script src="~/json/01.js"></script>*@
<script src="~/js/Recommend.js"></script>
}
