@model BSWebtoon.Front.Models.ViewModels.Rank.RankViewModel_ClickRecord

@{
    var id = Model.FirstRank.TagId;
}

@section topCss{
<link rel="stylesheet" href="~/style/RankListstyle.css" />
}




@Html.Partial("NavPartial")


<div class="rank">
    <div class="container rank_content">
        <div class="content">
            <template id="showRankTemplate">
                <a class="work_big" href="#">
                    <div class="work_big_bg">
                        <img src="" alt="背景" class="rank_pic_bg">
                    </div>
                    <div class="comic_material">
                        <div class="work_big_title">
                            <img src="" alt="標題" class="rank_pic_title">
                        </div>
                        <div class="introduction">
                           
                        </div>
                    </div>
                    <div class="work_big_Ranking">
                        <p class="Ranking_num">1</p>
                        <i class="fa-solid fa-caret-up"></i>
                        <p class="diff">@Model.FirstRank.Diff</p>
                    </div>
                    <div class="work_big_pic">
                        <video id="movie">
                            <source src="" type="video/webm" class="video">
                        </video>
                        <img src="" alt="" class="rank_pic_people">
                    </div>
                </a>
            </template>
            <template id="workTemplate">
                <a class="work" href="#">
                    <div class="work_bg">
                        <img src="" alt="背景" class="rankCardCover">
                    </div>
                    <img class="work_pic" src="" alt="">

                    <div class="title_img">
                        <img src="" alt="" class="rankCardName">
                    </div>
                    <div class="work_status">
                        <span>UP</span>
                    </div>
                    <div class="work_Ranking">

                        <p class="Ranking_num"></p>
                        <i class="fa-solid fa-caret-up"></i>
                        <p class="diff"></p>

                    </div>
                </a>
            </template>
        </div>
    </div>
</div>

<template id="blackTemplate">
    <div class="black">
        <div class="black">
            <div class="row">
                <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                    <div class="img-box"></div>
                </div>
                <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                    <div class="img-box"></div>
                </div>
                <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                    <div class="img-box"></div>
                </div>
                <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                    <div class="img-box"></div>
                </div>
                <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                    <div class="img-box"></div>
                </div>
            </div>
        </div>
</template>






@section endJS{
<script src="https://kit.fontawesome.com/2dbc4e25d3.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    let id = @id;
</script>
<script src="~/js/RankList.js"></script>
}
