@model BSWebtoon.Front.Models.ViewModels.Rank.RankViewModel_ClickRecord

@{
    var id = Model.FirstRank.TagId;
}

@section topCss{
<link rel="stylesheet" href="~/style/RankListstyle.css" />
}

<nav id="navbar-id" class="navbar navbar-light">
    <ul class="nav nav-pills" >
        <li class="nav-item btns">
            <a class="nav-link nav_new_work  categorys " id="all" my_id="0"  href="javascript:(0)">全部</a>
        </li>
        <li class="nav-item btns">
            <a class="nav-link categorys"  my_id="8" href="javascript:(0)">奇幻</a>
        </li>
        <li class="nav-item btns">
            <a class="nav-link categorys"  my_id="10" href="javascript:(0)">愛情</a>
        </li>
        <li class="nav-item btns">
            <a class="nav-link categorys"  my_id="9" href="javascript:(0)">動作冒險</a>
        </li>
        <li class="nav-item btns">
            <a class="nav-link categorys"  my_id="11" href="javascript:(0)">劇情</a>
        </li>
        <li class="nav-item btns">
            <a class="nav-link categorys"  my_id="13" href="javascript:(0)">GL/BL</a>
        </li>
        <li class="nav-item btns">
            <a class="nav-link categorys"  my_id="12" href="javascript:(0)">懸疑恐怖</a>
        </li>
    </ul>
</nav>



@section endJS{
<script src="https://kit.fontawesome.com/2dbc4e25d3.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    let id = @id;
</script>

<script src="~/js/RankList.js"></script>
}