@using System.Collections.Generic;
@using BSWebtoon.Front.Models.ViewModel.ViewRecord
@model ViewRecordViewModel
@section topCss{
	<link rel=" stylesheet" href="~/style/RecordView.css"/>
}

	<nav class="navbar d-flex justify-content-center ">
		<button type="button" class="btn btn-light">最近看過</button>
	</nav>

	<div class="container" style="max-width: 800px;">
		<div id="ComicAdd" class="row row-cols-3 row-cols-md-3 row-cols-lg-3 row-cols-xl-4" style="transform: translateY(80px);"></div>
		
		<template id="ComicTemplate">
			<div class="col">
				<a></a>
				<div class="comic_bg">
					<img src="">
				</div>
				<img class="comic_pic" src="">
				<img class="comic_title" src="">
			</div>
		</template>
		
		<div class="d-flex justify-content-center fixed-bottom " id="div_btns">
			<button type="button" class="btn btn btn-dark border my-4 px-4 py-2" style="border-radius: 20px;" onclick="Comic_sort();">↑↓</button>
		</div>

	</div>

	@section endJS{
	<script>
		var comicsArray = @Html.Raw(ViewData["jsonResult"]);

	
	</script>
	<script src="~/js/RecordView.js"></script>
}
