@using BSWebtoon.Model
@using BSWebtoon.Front.Models.ViewModel.Favorite

@model FavoriteViewModel

@{
    ViewData["Title"] = "RemoveFavorite";
}

@*<h1>RemoveFavoriteView</h1>*@
@section topCss{
    <link rel="stylesheet" href="~/style/FavoriteRemove.css" />
}
    <div style="background-color: #000;margin-top: 50px;">
        <div class="d-flex flex-row-reverse close_btn ">
            <button type="button" class="btn-close btn-close-white m-2" aria-label="Close" onclick="window.close();"></button>
        </div>

        <form class="container col-12" style="max-width: 800px;" name="main">
            <div class="container">
                <div class="row row-cols-3 row-cols-md-3 row-cols-lg-3 row-cols-xl-4"
                 style=" transform: translateY(80px);">

                    @foreach (var f in Model.FavoriteList)
                {
                    
                    int i = 0;
                    <div class="col " >
                        <div class=" pic_box">
                            <div id="img_1" style="position:relative;">
                                <label class="form-check-label">
                                    <input type="checkbox" onchange="update_text()"  class="d-none" my_comicId="@f.ComicId" > @*name="XXX[@i]"*@
                                    <div class="gray_block"></div>
                                    <img src="@f.ComicWeekFigure" class="w-100">
                                    <div class="check_btn text-center "></div>

                                </label>
                                @*<input type="hidden" name="comicId[@i]" value="@f.ComicId" />*@

                            </div>
                        </div>
                    </div>
                }
                </form>
            </div>


        </div>
        <!-- 重要 -->
        <div class="d-flex justify-content-center fixed-bottom " id="div_btns">
            <button id="del_btn" type="button" class="m-auto btn btn_dark fixed-bottom my-4 px-4 py-2 "
                    onclick="remove_all(false)">
                刪除0個作品
            </button>
        </div>
        <section id="double_check_block" style="background-color:#1c1c1c; width: 100%;height: 150px; "
                 class=" fixed-bottom ">
            <div class="text-center" style="margin-top:30px;">
                <p style="color: #fff;">del_number</p>
            </div>
            <div class="d-flex justify-content-center ">
                <button id="" type="button" class="btn border btn-dark m-4  py-2 col-2"
                        style="border-radius: 20px; display: inline-block;"
                        onclick="cancel_double_check_block()">
                    取消
                </button>
                <button id="" type="submit" class="btn btn-light m-4  py-2 col-2"
                        style="border-radius: 20px; display: inline-block; " onclick="remove_all(true)">
                    確定
                </button>
            </div>
        </section>


    


    @section endJS{
        <script src="~/js/FavoriteRemove.js"></script>
    }