@{
    ViewData["Title"] = "CashPlanView";
}

@section topCss{
      <link rel="stylesheet" href="~/style/CashPlanstyle.css" />
}


<h1 class="top">儲值金幣</h1>

  <h2>
    <p>現有金幣</p>
    <span>1,000金幣</span>
  </h2>

  <h3>金幣 <span>儲值</span></h3>

  <hr>

  <div class="container">
    <video playsinline="" autoplay="" muted="" loop="" src="https://cdn.tw.kakaowebtoon.io/billing/banner/1645404442_04_mp4_gray.mp4" poster="https://cdn.tw.kakaowebtoon.io/billing/banner/1645404443_04_png_gray.png"></video>
    <p class="red-word">推薦</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label white-font" for="flexRadioDefault1">
        <!-- 6,000金幣<span>NT$ 100</span> -->
        <p>6,000金幣</p>
        <span>NT$ 100</span>
      </label>
      <p class="gold-word">首次儲值優惠</p>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label white-font" for="flexRadioDefault1">
        <p>3,600金幣</p>
        <span>NT$ 90</span>
      </label>
    </div>
  </div>

  <div class="container">
    <p class="red-word">推薦</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label white-font" for="flexRadioDefault1">
        <p>6,000金幣</p>
        <span>NT$ 150</span>
      </label>
    </div>
  </div>

  <div class="container">
    <p class="red-word">推薦</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label white-font" for="flexRadioDefault1">
        <p>12,000金幣</p>
        <span>NT$ 300</span>
      </label>
    </div>
  </div>
    <br>

  <div class="container">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label white-font" for="flexRadioDefault1">
        <p>18,000金幣</p>
        <span>NT$ 450</span>
      </label>
    </div>
  </div>

  <div class="container">
    <p class="red-word">推薦</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label white-font" for="flexRadioDefault1">
        <p>28,800金幣</p>
        <span>NT$ 720</span>
      </label>
    </div>
  </div>



  <div class="container">
    <p class="red-word">推薦</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label white-font" for="flexRadioDefault1">
        <p>36,000金幣</p>
        <span>NT$ 900</span>
      </label>
    </div>
  </div>

  <hr>

  <button class="btn_next"> <span>下一步</span></button>

  <footer>
        <p>購買須知</p>
        <ul>
          <li class="li-color">首儲活動以外加贈的金幣於發送後30天內有效。</li>
          <li class="li-color">廣告行銷活動等無償獲得的金幣無法申請退款。</li>
        </ul>
  </footer>