@model BSWebtoon.Front.Models.ViewModel.CashPlan.CashPlanViewModel
@{
    ViewData["Title"] = "CashPlanView";
}

@section topCss{
<link rel="stylesheet" href="~/style/CashPlanstyle.css" />
}


<h1 class="top">儲值金幣</h1>

<h2>
    <p>現有金幣</p>
    <span>@Model.Balance</span>
</h2>

<h3 class="mb-4">金幣 <span>儲值</span></h3>

<div class="container">
    @foreach (var item in Model.AllCashPlan)
    {
        <div class="form-check mt-3">
            <input class="form-check-input" type="radio" name="cashplan" value="@item.CashPlanId" />
            <label class="form-check-label white-font">
                <span class="price">@item.CashPlanContent</span>
                <span class="dollar">@item.Price</span>
            </label>
        </div>
    }
    <button id="btn_next" class="btn_next"> <span>下一步</span></button>
</div>

<footer>
    <p>購買須知</p>
    <ul>
        <li class="li-color">首儲活動以外加贈的金幣於發送後30天內有效。</li>
        <li class="li-color">廣告行銷活動等無償獲得的金幣無法申請退款。</li>
    </ul>
</footer>


 <script src="~/js/CashPlan.js"  asp-append-version="true"/>
