@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <div id="release_area" class="container">

        <b-card no-body>
            <b-tabs v-model="tabIndex" card fill>
                <b-tab no-body title="購入漫畫上架區">
                    <!-- <b-card-img bottom src="https://picsum.photos/600/200/?image=21" alt="Image 21"></b-card-img>
                    <b-card-footer>Picture 1 footer</b-card-footer> -->
                    <div class="buyComic_release_area d-flex w-75 m-auto">
                        <div class="pic_area w-25">
                            <div class="week_people_pic_box">
                                <img :src="createComicData.week_people" />
                            </div>
                            <input id="week_people" type="file" accept="image/*" v-on:click="previewImage">

                            <div class="bg_box">
                                <img :src="createComicData.bg" />
                            </div>
                            <input id="bg" type="file" accept="image/*" v-on:click="previewImage">

                            <div class="people_pic_box">
                                <img :src="createComicData.people" />
                            </div>
                            <input id="people" type="file" accept="image/*" v-on:click="previewImage">

                            <div class="text_pic_box">
                                <img :src="createComicData.text" />
                            </div>
                            <input id="text" type="file" accept="image/*" v-on:click="previewImage">

                        </div>

                        <div class="text_area w-75">
                            <div>
                                <span class="comicName">漫畫名字</span>
                                <b-form-input v-model="createComicData.comicChineseName" placeholder="Enter your name">
                                </b-form-input>
                            </div>

                            <div>
                                <span class="comicEngilshName">漫畫英文名字</span>
                                <b-form-input v-model="createComicData.comicEngilshName" placeholder="Enter your name">
                                </b-form-input>
                            </div>


                            <div>
                                <span class="author">作者</span>
                                <b-form-input v-model="createComicData.author" placeholder="Enter your name">
                                </b-form-input>
                            </div>

                            <div>
                                <span class="painter">繪者</span>
                                <b-form-input v-model="createComicData.painter" placeholder="Enter your name">
                                </b-form-input>
                            </div>

                            <b-form-select id="week" v-model="createComicData.week_selected" :options="week_options"
                                size="sm" class="mt-3">
                            </b-form-select>

                            <div>
                                <label for="date">請選擇上架日期</label>
                                <b-form-datepicker id="date" v-model="createComicData.upDate" class="mb-2">
                                </b-form-datepicker>
                            </div>
                            <div>
                                <label for="color">請選擇背景色</label>
                                <b-form-input v-model="createComicData.bgColor" id="bgColor" type="color">
                                </b-form-input>
                            </div>

                            <div>
                                <span class="comicIntroduction">漫畫簡介</span>
                                <b-form-textarea v-model="createComicData.comicIntroduction" id="introduction"
                                    placeholder="Default textarea"></b-form-textarea>
                            </div>

                            <div class="selectGroup">
                                <b-form-select v-model="createComicData.main_selected" :options="main_options" size="sm"
                                    class="mt-3">
                                </b-form-select>
                                <b-form-select v-model="createComicData.one_selected" :options="one_options" size="sm"
                                    class="mt-3">
                                </b-form-select>
                                <b-form-select v-model="createComicData.two_selected" :options="two_options" size="sm"
                                    class="mt-3">
                                </b-form-select>
                                <b-form-select v-model="createComicData.three_selected" :options="three_options"
                                    size="sm" class="mt-3">
                                </b-form-select>
                            </div>

                            <div>
                                <b-form-select v-model="createComicData.AuditEmployeeId" :options="AuditEmployeeId"
                                    size="sm" class="mt-3">
                                </b-form-select>
                            </div>

                            <button v-on:click="createComic" type="button" class="btn btn-primary">
                                新增
                            </button>

                        </div>
                    </div>

                </b-tab>

                <b-tab no-body title="漫畫更新區">
                    <b-card-img bottom src="https://picsum.photos/600/200/?image=25" alt="Image 25"></b-card-img>
                    <b-card-footer>Picture 2 footer</b-card-footer>
                </b-tab>


                <b-tab no-body title="漫畫特殊需求區">
                    <b-card-img bottom src="https://picsum.photos/600/200/?image=25" alt="Image 25"></b-card-img>
                    <b-card-footer>Picture 2 footer</b-card-footer>
                </b-tab>


                <b-tab no-body title="話次上架區">
                    <b-card-img bottom src="https://picsum.photos/600/200/?image=25" alt="Image 25"></b-card-img>
                    <b-card-footer>Picture 2 footer</b-card-footer>
                </b-tab>

                <b-tab no-body title="話次更新區">
                    <b-card-img bottom src="https://picsum.photos/600/200/?image=25" alt="Image 25"></b-card-img>
                    <b-card-footer>Picture 2 footer</b-card-footer>
                </b-tab>


                <b-tab no-body title="會員漫畫審核區">
                    <b-card-img bottom src="https://picsum.photos/600/200/?image=26" alt="Image 26"></b-card-img>
                    <b-card-footer>Picture 3 footer</b-card-footer>
                </b-tab>

                <b-tab title="會員話次審核區">
                    <b-card-title>This tab does not have the <code>no-body</code> prop set</b-card-title>
                    <b-card-text>
                        Quis magna Lorem anim amet ipsum do mollit sit cillum voluptate ex nulla tempor. Laborum
                        consequat non elit enim exercitation cillum aliqua consequat id aliqua. Esse ex
                        consectetur mollit voluptate est in duis laboris ad sit ipsum anim Lorem. Incididunt
                        veniam velit elit elit veniam Lorem aliqua quis ullamco deserunt sit enim elit aliqua
                        esse irure.
                    </b-card-text>
                </b-tab>
            </b-tabs>
        </b-card>


    </div>

