@{
    ViewData["Title"] = "management";
}

@section topCss{
<style>
    .lable {
        font-size: 25px;
    }

    .chb {
        font-size: 20px;
    }

    .table_line {
        border: 1px solid black;

    }
</style>
}


<div id="app" class="container">
    <b-navbar toggleable="lg" type="dark" variant="light d-flex justify-content-between">
        <b-navbar-brand href="#" class="fs-1 text-dark">員工管理</b-navbar-brand>
    </b-navbar>
    <b-col sm="5" md="6" class="my-1 mb-3">
        <b-input-group v-for="size in ['sm']" :key="size" :size="size" prepend="請輸入姓名 :">
            <b-form-input id="filter-input" v-model="filter" type="search" placeholder="Type to Search"></b-form-input>
            <b-input-group-append>
                <b-button size="sm" text="Button" :disabled="!filter" v-on:click="filter =
                ''">Clear</b-button>
                </b-input-group-append>
        </b-input-group>
    </b-col>
    <b-col sm="5" md="3" class="my-1">
        <b-form-group label="Per page" label-for="per-page-select" label-cols-sm="6" label-cols-md="4" label-cols-lg="3"
            label-align-sm="left" label-size="sm" class="mb-0 d-flex align-items-center ">
            <b-form-select id="per-page-select" v-model="perPage" :options="pageOptions" size="sm">
            </b-form-select>
        </b-form-group>
    </b-col>
    <div class="table_line mt-2">
        <b-table striped hover :items="employeeList" :fields="fields" :per-page="perPage" :current-page="currentPage"
            :filter="filter">
        </b-table>
    </div>
    <b-pagination align="fill" v-model="currentPage" :total-rows="totalRows" :per-page="perPage"
        aria-controls="table_line">
    </b-pagination>
</div>
@section endJS{
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>
<script src="~/lib/moment.js/moment.min.js"></script>
<script>
    //日期時間格式化
    function DateFormat(value, format) {
        return moment(value).format(format || 'YYYY/MM/DD');
    }
    //日期格式化
    Vue.filter('DateString', function (value, format) {
        return moment(value).format(format || 'YYYY/MM/DD')
    });
    let app = new Vue({
        el: '#app',
        data: {
            selected: [],//給你看到你勾選選項的value
            fields: ['employeeId', 'employeeName', 'hireDate', 'account'],//可以放欄位名稱
            employeeList: [],
            perPage: 5,
            currentPage: 1,
            pageOptions: [5, 10, 15, 20],
            filter: '',
        },
        mounted() {
            this.getAllEmployee();
        },
        methods: {
            getAllEmployee() {
                axios.get('/api/EmployeeApi/management')
                    .then((res) => {
                        console.log('ok');
                        if (res.status == 200) {
                            @* this.employeeList = res.data; *@
                            this.employeeList = res.data.map((item) => {
                                return {
                                    employeeId: item.employeeId,
                                    employeeName: item.employeeName,
                                    hireDate: DateFormat(item.hireDate),
                                    account: item.account
                                }
                            })
                            console.log(this.employeeList);
                        } else {
                            alert('你失敗了')
                        }
                    })
            }
        },
        computed: {
            totalRows() {
                return this.employeeList.length;
            }
        },

    })
</script>

}
