img {
    margin-bottom: 10px;
    max-width: 100%;
}

.img_col_move {
    transition: all 2s 0s ease-out;
}

.img1 {
    transform: translateY(15%);
}

.img2 {
    transform: translateY(20%);
}

.img3 {
    transform: translateY(25%);
}

.img4 {
    transform: translateY(30%);
}

#div_btns {
    transition: all 0.2s 0s ease-out;
    transform: translateY(-30px);
}
