.nav-top {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #000;
    padding: 5px;
}

.main-context {
    position: relative;
    top: 130px;
    padding: 10px 0px;
}

.nav-selected {
    background-color: #fff;
    display: inline-block;
    border-radius: 50px;
}


.hot {
    max-width: 600px;
    width: 100%;
    height: fit-content;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}

.video-bg {
    position: absolute;
    z-index: -1;
}

.video-title {
    position: absolute;
    bottom: 10%;
    z-index: 2;
}

.terms_p p {
    color: #fff;
}


.userinfo,
.comic {
    margin: auto;
    color: #fff;
    padding: 15px;
}

.xl_user {
    padding-top: 60px;
}

.record li {
    list-style: none;
    padding: 0PX 15px;
}

.record a {
    text-decoration: none;
    color: #fff;
    flex-wrap: wrap;
}

.detail {
    padding: 200px 0px;
}

@media screen and (min-width:768px) {
    .nav-top {
        top: 80px;
    }
}
