.nav-top {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: #000;
    padding: 1em;
}

.main-context {
    position: relative;
    top: 130px;
    padding: 10px 0px;
}

.activity_name {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    height: fit-content;
    margin-top: 15%;
}

.nav-selected {
    background-color: #fff;
    display: inline-block;
    border-radius: 50px;
}

.row-recommend {
    max-width: 1200px;
    margin: auto;
    position: relative;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    aspect-ratio: 2/0.8;
    height: 50vh;
    width: 100%;
}

.txt-part {
    width: 50%;
    height: 100%;
    padding: 0;
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    transform: skew(20deg) translateX(50%);
}

    .txt-part .title-pic {
        width: 120%;
        position: absolute;
        /*top: 5%;*/
    }

    .txt-part #tag {
        width: fit-content;
        background-color: rgb(255, 48, 66);
        border-radius: 12px;
        font-size: 15px;
        padding: 2px 5px;
    }

    .txt-part .txt-part-introduction {
        height: fit-content;
        margin-top: auto;
        margin-bottom: 20%;
    }


.transform-part-public {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0;
    background-color: #000;
    transform: skew(-20deg);
    vertical-align: bottom;
    left: -10%;
}

.transform-part {
    z-index: 3;
}

.transform-part2 {
    right: -25%;
    width: 50%;
    z-index: 1;
    left: unset;
}

.work_a:nth-of-type(even) .row .transform-part-public {
    transform: skew(20deg);
}

.work_a:nth-of-type(even) .row .txt-part {
    transform: skew(-20deg) translateX(50%);
}

.pic-part {
    width: 90%;
    height: 100%;
    position: relative;
    overflow: hidden;
    justify-content: end;
    margin-left: auto;
    /*padding-left: 20%;*/
    display: flex;
}

.recommend-pic-bg {
    position: absolute;
    z-index: 0;
    width: 70%;
    transition: all .5s ease-out;
    /*transform: translateX(0%);*/
}

.recommend-pic {
    width: fit-content;
    height: 100%;
    aspect-ratio: 71/60;
    position: relative;
    /*margin-left: auto;*/
    vertical-align: bottom;
    z-index: 2;
    transition: all 0.5s ease-out;
    /*transform: translateX(0%);*/
    margin-right: -30%;
}


@media screen and (min-width:400px) {
    .recommend-pic {
        margin-right: -20%;
    }
}

@media screen and (min-width:768px) {
    .nav-top {
        top: 80px;
    }

    .pic-part {
        justify-content: end;
    }

    .recommend-pic {
        margin-right: 0%;
    }
    .txt-part .title-pic {
        width:100%;
        bottom: 50%;
    }
}

@media screen and (min-width:992px) {
    .activity_name {
        font-size: 40px;
    }

    .recommend-pic {
        margin-right: 10%;
    }

}

@media screen and (min-width:1200px) {
    .activity_name {
        font-size: 50px;
    }

    .recommend-pic {
        margin-right: 20%;
    }
}
