.nav-top {
    position: fixed;
    top: 85px;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: #000;
    padding: 5px;
}

.main-context {
    position: relative;
    top: 130px;
    padding: 10px 0px;
}

.activity_name{
    font-weight:900;
    font-size:50px;
    text-align:center;
    height:fit-content;
    margin-top:auto;
}

.nav-selected {
    background-color: #fff;
    display: inline-block;
    border-radius: 50px;
}

.row-recommend {
    max-width: 1200px;
    margin: auto;
    position: relative;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    aspect-ratio: 2/0.8;
}

.txt-part {
    width: 30%;
    height: 100%;
    padding: 0;
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
}

    .txt-part .title-pic {
        width: 100%;
        position: absolute;
        bottom: 60%;
    }

    .txt-part #tag {
        width: fit-content;
        background-color: rgb(255, 48, 66);
        border-radius: 12px;
        font-size: 15px;
        padding: 2px 5px;
    }

    .txt-part .txt-part-introduction {
        height:55%;
        margin-top:auto;
    }


.transform-part-public {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0;
    background-color: #000;
    transform: skew(-20deg);
    vertical-align: bottom;
}

.transform-part {
    z-index: 3;
}

.transform-part2 {
    right: -30%;
    width: 50%;
    z-index: 1;
}

.work_a:nth-of-type(even) .row .transform-part-public {
    transform: skew(20deg);
}

.pic-part {
    width: 70%;
    height: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    margin-left: auto;
    padding-left: 20%;
}

.recommend-pic-bg {
    position: absolute;
    z-index: 0;
    width: 100%;
    transition: all .5s ease-out;
    /*transform: translateX(0%);*/
}

.recommend-pic {
    width: fit-content;
    height: 100%;
    aspect-ratio: 71/60;
    position: relative;
    /*margin-left: auto;*/
    vertical-align: bottom;
    z-index: 2;
    transition: all 0.5s ease-out;
    /*transform: translateX(0%);*/
}



/*.hot {
    max-width: 600px;
    width: 100%;
    height: fit-content;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}

.video-bg {
    position: absolute;
    z-index: -1;
}

.video-title {
    position: absolute;
    bottom: 10%;
    z-index:2;
}

.terms_p p {
    color: #fff;
}
*/

/*.userinfo,
.comic {
    margin: auto;
    color: #fff;
    padding: 15px;
}

.xl_user {
    padding-top: 60px;
}

.record li {
    list-style: none;
    padding: 0PX 15px;
}

.record a {
    text-decoration: none;
    color: #fff;
    flex-wrap: wrap;
}

.detail {
    padding: 200px 0px;
}
*/