body {
    background-color: #000;
}

.user-icon {
    width: 25px;
    height: 25px;
}

#user {
    display: flex;
    align-items: center;
}

#user a {
    padding: 10px;
}

.w-1200 {
    max-width: 1200px;
    margin: auto;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    background-color: #000;
}
/*
.inputSearchBorder {
}*/

.context {
    position: relative;
    top: 100px;
}

.nav-link {
    color: #fff;
}

    .nav-link:visited {
        color: #fff;
    }

    .nav-link:hover {
        color: #ccc;
    }

.container-fluid{
    margin-top:1em;
}

.dropdown-divider{
    margin:1px !important;
}

@media (min-width: 0px) and (max-width: 1200px) {
    .upload_Comic {
        display: none;
    }
}