.menu-fixed {
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
}

.w-1200 {
    max-width: 1200px;
    margin: auto;
}

.menu-btn {
    width: 100px;
}

.mulu-row .card {
    width: 150px;
}

.mulu-md-row .card {
    width: 200px;
    margin-bottom: 10px;
}

.mulu-row .card-body {
    padding: 0;
}

.offcanvas-width {
    width: 300px;
}

.user p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: auto 15px;
    padding: 0px;
}

.leval {
    border-radius: 30px;
    background: #F00;
    width: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 15px;
}

.text p {
    max-width: 800px;
    box-sizing: border-box;
    margin: auto 20px;
    padding: 5px;
    box-sizing: border-box;
}

.btn_icon {
    background-color: #fff;
    border-radius: 30px;
    margin: 10px 10px;
}

.more_function {
    width: 50%;
    position: fixed;
    bottom: 0%;
}

.comic_content {
    height: 95vh;
    width: 100%;
    overflow-y: scroll;
}

    .comic_content img {
        width: 500px;
        height: 700px;
    }

.comic_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    overflow: hidden;
}


#mulu-mdBTN {
    display: inline-block;
}

#muluBTN {
    display: none;
}


@media screen and (max-width:768px) {
    .text p {
        max-width: 350px;
        margin: auto;
        padding: 5px;
        box-sizing: border-box;
    }

    .more_function {
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    .comic_content img {
        width: 70%;
        height: 80%;
    }

    .comic_text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mulu-mdBTN {
        display: none;
    }

    #muluBTN {
        display: inline-block;
    }
}}






/* -----------------пdие----- */

.Comment_area {
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 1000px;
}


.Comment_fixed {
    position: fixed;
    background-color: #000;
    z-index: 5;
    padding-bottom: 5px;
    width: 95%;
    margin: auto;
    left: 0;
    right: 0;
}

.Comment_container {
    width: 100%;
    margin: auto;
    padding-top: 150px;
}


.Comment_fixed h3 {
    text-align: center;
}

.Comment_fixed .isSpoil {
    font-size: 12px;
    margin-bottom: 5px;
}


.Comment_fixed .Comment #CommentButton {
    color: #fff;
}

.Comment_item {
    position: relative;
}

    .Comment_item::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(206, 205, 205, 0.627);
        position: absolute;
        bottom: 0;
        margin-bottom: 15px;
    }

.CommentShow_title {
    display: flex;
}

    .CommentShow_title .Leval {
        background-color: #f00;
        height: fit-content;
        border-radius: 30px;
        padding: 2px;
        font-size: 12px;
        margin-right: 5px;
    }

    .CommentShow_title .date {
        margin-left: auto;
        color: rgba(206, 205, 205, 0.627);
    }

.CommentShow_btn_area {
    display: flex;
    padding-bottom: 25px;
    position: relative;
}

    .CommentShow_btn_area .btn {
        color: rgba(206, 205, 205, 0.799);
        border-color: rgba(206, 205, 205, 0.799);
        border-radius: 30px;
        margin-right: 10px;
        font-size: 5px;
    }

        .CommentShow_btn_area .btn:hover {
            color: #fff;
            border-color: #fff;
        }

/* --------------reply----------------------------------- */
.reply_CommentShow_item {
    position: relative;
}

    .reply_CommentShow_item::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(206, 205, 205, 0.627);
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
    }

.reply_CommentShow .reply_CommentShow_item .reply_CommentShow_title {
    display: flex;
}

.reply_CommentShow_title .date {
    margin-left: auto;
    color: rgba(206, 205, 205, 0.627);
}

.reply_CommentShow_title i {
    margin-right: 5px;
    color: rgba(206, 205, 205, 0.799);
}

.reply_Comment_btn {
    display: flex;
    padding-bottom: 25px;
    position: relative;
}

    .reply_Comment_btn .btn {
        color: rgba(206, 205, 205, 0.799);
        border-color: rgba(206, 205, 205, 0.799);
        border-radius: 30px;
        margin-right: 10px;
        font-size: 5px;
    }

        .reply_Comment_btn .btn:hover {
            color: #fff;
            border-color: #fff;
        }


#reply_CommentButton {
    color: #fff;
}

@media screen and (min-width:1200px) {
    .Comment_container {
        width: 1200px;
    }
}
